<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klenadir's Website</title>
</head>
<body>
    <header class="siteheader" id="SiteHeader">
        <h1 class="siteheader_title">Klenadir</h1>
        <p class="siteheader_label">Website Developer</p>
            <nav class="siteheader_nav">
                <ol>
                    <li><a href="siteheader_nav\home.html">Home</a></li>
                    <li><a href="siteheader_nav\projects.html">Projects</a></li>
                    <li><a href="siteheader_nav\contacts.html"></a>Contacts</li>
                    <li><a href="siteheader_nav\faq.html"></a>FAQ</li>
                </ol>
            </nav>
    </header>
    </main>
</body>
</html>